<template>
<div class="userForm">
  <label>Naam</label>
  <input type="text" v-model="naam"/>

  <label>Afdeling</label>
  <input type="text" v-model="afdeling"/>

  <button v-on:click="addDeelnemer">Submit</button>
</div>
</template>

<script>
export default {
  data() {
    return {
      naam: '',
      afdeling: ''
    }
  },
  methods: {
    addDeelnemer(){
      this.axios.post('https://dump.lwdev.nl/vue-cursus-api/addDeelnemer/', {
        naam: this.naam,
        afdeling: this.afdeling
      }).then(() => { 
        this.naam = "";
        this.afdeling = "";
      }).catch(() => {
        alert("Vul alle velden in")
      })
    }
  }
}
</script>

<style>
.userForm {
  width: 100%;
  max-width: 1000px;
  margin: 10% auto auto auto;
  background-color: white;
  padding: 20px;
}
button {
  cursor: pointer;
}
label {
  float: left;
}
</style>