<template>
  <div class="detailblock">
    <DetailCard :deelnemerdata="deelnemerdata"/>
  </div>
</template>

<script>
import DetailCard from '@/components/DetailCard.vue';
export default {
  components: {
    DetailCard
  },
  data(){
    return{
      deelnemerdata: {}
    }
  },
  methods:{
    DetailsDeelnemer(id) {
      this.axios.post('https://dump.lwdev.nl/vue-cursus-api/deelnemerDetails/', {
        id:id
      })
        .then((res) => {
          console.log(res.data);
          this.deelnemerdata = res.data
          console.log(this.deelnemerdata)
        })
        .catch((err) => {
          console.log(err)
        })
      },
    },
  created() {
		this.DetailsDeelnemer(this.$route.params.id);
  },
}
</script>

<style>

</style>