<template>
  <div class="home">
    <DeelnemerList/>
  </div>
</template>

<script>
import DeelnemerList from '@/components/DeelnemerList.vue';

export default {
  components: {
    DeelnemerList
  }
}
</script>