<template>
  <div class="uploadForm">
    <h2>Upload your photo</h2>
    <vue-dropzone ref="myVueDropzone" id=upload :options="dropzoneOptions" @vdropzone-sending="sendingEvent"></vue-dropzone>
  </div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
export default {
  name: 'app',
  components: {
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      dropzoneOptions: {
          url: 'https://dump.lwdev.nl/vue-cursus-api/uploadFoto/upload.php',
          thumbnailWidth: 150,
          maxFilesize: 2,
          acceptedFiles: "image/jpeg, image/png"
      },
    }
  },
  methods: {
    sendingEvent (file, xhr, formData) {
      formData.append('id', this.$route.params.id);
    },
  }
}
</script>

<style scoped>
.uploadForm {
  width: 100%;
  max-width: 1000px;
  margin: 10% auto auto auto;
  background-color: white;
  padding: 20px;
}
</style>