<template>
  <div class="deelnemerlijst">
    <h3>Zoek Deelnemer</h3>
    <input type="text" v-model="search" placeholder="Zoek deelnemers"/>
    <div class="home" v-if="!loading">
      <PersonCard v-for="deelnemer in filteredDeelnemers" :key="deelnemer.id" :deelnemer="deelnemer" @getDeelnemers="getDeelnemers"/>
    </div>
    <div v-else>
      <img src="@/assets/Loader.svg" alt="Loading..." width="100px" height="100px">
    </div>
  </div>
</template>

<script>
import PersonCard from '@/components/PersonCard.vue'

export default {
  components: {
    PersonCard
  },
  data() {
    return {
      deelnemers: [],
      search: '',
      loading: false
    }
  },
methods: {
	getDeelnemers() {
    this.loading = true
    this.axios.get('http://dump.lwdev.nl/vue-cursus-api/deelnemers/') // Call out to this URL
    .then(response => {
      this.deelnemers = response.data  // When the response returns, log it to the console
    })
    .catch(error => {
        console.log(error)  // If an error is returned log it to the console
    })
    .finally(() => {
      this.loading = false
    }) 
	}
},

  created() {
		this.getDeelnemers();
  },
  computed: {
    filteredDeelnemers: function(){
      return this.deelnemers.filter((deelnemer) => {
        return deelnemer.naam.toLowerCase().match(this.search.toLowerCase())
      })
    }
  }
}
</script>

<style>
.deelnemerlijst {
    width: 1000px;
    margin: auto;
    background-color: white;
    outline: orange 2px;
}
.deelnemerlijst > h3 {
    padding: 10px;
    text-align: left;
}
.deelnemerlijst > input {
    text-align: left;
}
.event-card {
  padding: 20px;
  margin: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.event-card:hover {
  transform: scale(1.01);
  /* box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19); */
}
.event-card > .title {
  margin: 0;
}
.event-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>