<template>
  <div class="deelnemerinfo">
    <img class="profilepicture" :src="deelnemerdata.img">
        <h2 class="titel">Naam: {{ deelnemerdata.naam }}</h2>
        <h2 class="titel">Afdeling: {{ deelnemerdata.afdeling }}</h2>
          <p class="bio">{{ deelnemerdata.tekst }}</p>
            <li><router-link :to="{ name: 'Upload'}">Upload foto</router-link></li>

  </div>
</template>

<script>
export default {
  props:{
    deelnemerdata:Object
  }
}
</script>

<style>
.deelnemerinfo {
  width: 100%;
  max-width: 1000px;
  margin: 10% auto auto auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.profilepicture {
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 50%;
}
.titel {
  max-width: 50%;
  margin-left: 25%;
}
.bio {
  text-align: left;
  margin-top: 8%;

}
</style>