<template>
<div id="nav" class="nav">
  <nav>
    <ul>
      <li><img class="logo" src="@/assets/LW-logo.svg" alt="logo"></li>
      <li><router-link to="/">Deelnemers</router-link></li>
      <li><router-link to="/add-user">Deelnemer toevoegen</router-link></li>

    </ul>
  </nav>
</div>
</template>

<script>
export default {}
</script>

<style>
nav {
  background-color: orange;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  color: white;
  display: block;
  line-height: 3em;
  padding: 0 1em;
  text-decoration: none;
}
nav ul li:first-child {
  margin-right: auto;
}
.logo {
     width: 50px;
     display: flexbox;
     margin: 0px;
     padding: 0px;
     display: block;
}
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
    float: right;
}
li a {
    padding: 10px;
} */
</style>