<template>
  <router-link class="event-link" :to="{ name: 'Home', params: { id: deelnemer.id } }">
    <div class="event-card" v-on:click="test">
      <router-link :to="'/details/' + deelnemer.id">
        <h4 class="event-card-text">{{ deelnemer.naam }}</h4>
        <span class="event-card-text">{{ deelnemer.afdeling }}</span>
      </router-link>
      <button @click="delDeelnemer(deelnemer.id)">Delete Deelnemer</button>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    deelnemer: Object
  },
  methods:{
    delDeelnemer(id) {
      this.axios.post('http://dump.lwdev.nl/vue-cursus-api/deleteDeelnemer/', {
        id:id
      }).then(() => {
        this.$emit('getDeelnemers')
      })
    },
    test: function () {
      console.log(this.deelnemer.id)
    }
  }
}
</script>

<style scoped>
.event-card {
  padding: 20px;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 1px #FF952D solid;
  text-decoration: none;
}
.event-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.event-card > .title {
  margin: 0;
}
.event-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
.event-card-text {
  text-decoration: none;
  display: flex;
}
span {
  color: black;
  font-size: 20px;
}
</style>
